{% extends 'base.html' %}

{% block title %} HOMEPAGE {% endblock %}

{% block imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/HOMEPAGE.css') }}" media="screen">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/update.js') }}"></script>
{% endblock %}

{% block content %}
<section class="u-align-left u-clearfix u-custom-color-1 u-section-1" id="carousel_86e7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-expand-resize u-image u-image-1" src="{{ url_for('static', filename='images/logo.png') }}" data-image-width="1600" data-image-height="1600">
        <h1 class="u-align-center u-text u-text-1">A simple way to connect<br>between discord servers
        </h1>
        <p class="u-align-center u-large-text u-text u-text-font u-text-variant u-text-2">CONNECTING <b id="server_amount">0</b> SERVERS • <a href="https://github.com/XenonIsAwesome/PhoneBot">GITHUB</a> • <a href="https://discord.com/api/oauth2/authorize?client_id=757545767236927529&permissions=3157072&scope=bot"> INVITE </a></p>
    </div>
</section>
{% endblock %}